<section>
    
    <div class="card">
        <div class="logo">
            <img src="../../assets/logos/LOGO1.png" alt="">
        </div>
        <div class="form">
            <form class="example-form">
                <div class="input">
                    <input class="top-input" name="user" type="text" placeholder="Username" [(ngModel)]="user.username">
                </div>
                <div class="input">
                    <input class="bot-input" type="password" name="password" placeholder="Password" [(ngModel)]="user.password">
                </div>
            </form>
        </div>
        <div class="fin-form">
            <mat-checkbox class="example-margin">remember</mat-checkbox>
            <button mat-button (click)="login()">Log In</button>
        </div>
    </div>
</section>
